<h2 class="page-header">Add Recipe</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/add">
   <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="title" name="title">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" placeholder="description" name="description"></textarea>
  </div>
   <div class="form-group">
    <label>Ingredients</label>
    <textarea class="form-control" placeholder="ingredients" name="ingredients"></textarea>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
  <a href="/" type="Cancel" class="btn btn-default">Cancel</a>

</form>